@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.box {
    width: 100%;
    background-color: black;
}

.wrap{
    margin: 30px;
    margin-top: 10px;
}

.item {
    color: snow;
    padding: 20px;
    display: flex;
}

.detail{
    padding: 30px;
}

.item.cover{
    height: 285;
    width: auto;
}

.detail h4{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: left;
}

.detail p{
    font-size: 15px;
    font-family: 'Poppins';
    text-align: left;
}

.item:hover{
    border: 2px #353935 solid;
    border-radius: 5px;
    background-color: #353935;
    transition: width 0.3s linear;
    padding: 5px;
}

.btnContainer{
    padding-top: 20px;
}

.addbtn{
    background-color: black;
    border: white solid 2px;
    color: white;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 5px;
}

.addbtn:hover{
    background-color: white;
    border: white solid 2px;
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}