@import url(https://fonts.googleapis.com/css?family=Newsreader:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);;


*, html, body {
    margin: 0;
    padding: 0;
}

.wrapper {  
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0px;
}

.brand{
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 55px;
    height: 55px;
}

.name{
    color: white;
    font-family: 'Newsreader';
    font-weight: 700;
    font-size: 40px;
    padding: 10px;
}

.navigation{
    display: flex; 
    flex-direction: row;
    margin-right: 10px;
}

li{
    list-style-type: none;
    padding: 15px;
}

li > a{
    color: white;
    font-size: 20px;
    text-decoration:none ;
    font-family: 'Lexend';
    font-weight: bold;
}

li > a > img {
    width: 30px;
    height: 30px;
}

li a::after {
    content: ' ';
    position: absolute;
    background-color: gray;
    height: 2px;
    width: 0;
    opacity: 0;
    margin: auto;
    display: block;
}

.home a:hover::after {
    opacity: 1;
    width: 60px;
    transition: width 0.3s linear;
}

.myBook a:hover::after {
    opacity: 1;
    width: 100px;
    transition: width 0.3s linear;
}
